/* 全局变量设置 */
:root {
	/* 紫色主题色 */
	--color-main: #6e66ed;
	--text-color-main: #000;
	--bg-main: #f5f5f9;

	/* 导航栏颜色 */
	--bg-color-nav: #fbfcfe;
	--bg-color-nav-hover: #e6e6e6;
	--text-color-nav: #7e7e7e;
	--text-color-nav-hover: #000;

	/* 内容栏颜色 */
	--bg-card: #e9ecf1;
}

[data-bs-theme="dark"] {
	/* 亮绿主题色 */
	--color-main: #00dc82;
	--text-color-main: #fff;
	--bg-main: #161616;

	/* 导航栏颜色 */

	--bg-color-nav: #1c1c1c;
	--bg-color-nav-hover: #2f2f2f;
	--text-color-nav: #818181;
	--text-color-nav-hover: #fff;

	/* 内容栏颜色 */
	--bg-card: #242424;
}

html {
	font-size: 16px;
	font-family: "Microsoft YaHei", Arial, Helvetica, sans-serif;
	min-height: 100vh;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	/* 禁用页面滚动 */
	margin: 0;
	padding: 0;
	overflow: hidden;

	word-wrap: break-word;
	overflow-wrap: break-word;

	scroll-behavior: smooth;
}

body {}