/* 全局变量设置 */
:root {
	--color-bg: #fff;
}

@media (prefers-color-scheme: dark) {
	:root {
		--color-bg: #000;
	}
}

body {
	min-height: 100vh;
	line-height: 1.6;
	font-family: "Microsoft YaHei", Arial, Helvetica, sans-serif !important;
	font-size: 16px;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	/* 禁用页面滚动 */
	margin: 0;
	padding: 0;
	overflow: hidden;

	word-wrap: break-word;
	overflow-wrap: break-word;

	scroll-behavior: smooth;
}
