/* 全局变量设置 */
:root {
	--color-bg: #fff;
	/*深蓝主题色 */
	--color-main: #00457a;
	--bg-color-nav: #fbfcfe;
	--bg-color-nav-hover: #e6edf5;
	--bg-color-dashboard: #fff;
}

@media (prefers-color-scheme: dark) {
	:root {
		--color-bg: #000;
	}
}

html {
	font-size: 16px;
	font-family: "Microsoft YaHei", Arial, Helvetica, sans-serif;
	min-height: 100vh;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	/* 禁用页面滚动 */
	margin: 0;
	padding: 0;
	overflow: hidden;

	word-wrap: break-word;
	overflow-wrap: break-word;

	scroll-behavior: smooth;
}

body {
}
