@import "./base.css";
@import "bootstrap/scss/bootstrap.scss";

#app {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	background-color: transparent;
	justify-content: center;
	align-items: center;


	/* 确保在移动设备上触摸操作的兼容性 */
	-webkit-tap-highlight-color: transparent;
}